.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1e293b ;
}

.wrapper {
  max-width: 500px;
  background: #fff;
  margin: 20px auto;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
}

.form {
  padding: 10px 20px;
}

.list-title {
  padding: 10px;
}

.button-spacer {
  flex: 1 1 auto;
}

.line {
  opacity: 0.4;
  text-decoration: line-through;
}
.unline {
  text-decoration: null;
}