<div class="background">
  <div class="wrapper">
    
    <div class="form-title">
      <h1>To-do List</h1>
      <hr>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput #newTask type="text" placeholder="Add Todo" [(ngModel)]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-mini-fab *ngIf="value" color="primary" (click) = "addToDo(newTask)">
        <mat-icon>add</mat-icon>
      </button>   
    </div>

    <div class="list-title">
      <h1>List</h1>
      <hr>
    </div>
    <div class="list" *ngFor="let todo of toDoList; let i=index" >
      <p>
        <mat-toolbar>
          <mat-checkbox (click)="checked(i)" [ngClass]="todo.status ? 'line': 'unline'">{{todo.title}}</mat-checkbox>
          <span class="button-spacer"></span>
          <button mat-mini-fab (click)="removeToDo(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-toolbar>
      </p>
    </div>

  </div>
</div>